*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body{
    background-color: rgba(255, 255, 255, 0.87);
     
}

nav{
    background-color: rgb(165, 11, 37);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    border-bottom: 2px solid black;
}

nav .logo{
    height: 1rem;
    /* font-size: 1.5rem;
    font-weight: bold;
    color: white;
    letter-spacing: 3px; */
}

nav ul {
    list-style: none;
    display: flex;
    gap: 1.5rem;
}

nav ul li a {
    color: white;
    text-decoration: none;
    transition: color 0.3s;
}

nav ul button {
    padding: .5rem;
    border-radius:10%;
    cursor: pointer;
    color: white;
    /* border: 2px solid black; */
    /* background:  rgb(165, 11, 37); */
}

nav ul .log-in-btn {
    /* background-color:rgb(165, 11, 37) ; */
     background: linear-gradient(to right , rgb(255, 0, 0) , rgb(255, 96, 96));
}

nav ul .sign-up-btn {
    /* background-color:rgb(255, 73, 73) ;
     */
      background: linear-gradient(to right , rgb(255, 0, 0) , rgb(255, 96, 96));
}

.banner-img{
    height: 400px;
    width: 100vw;
    object-fit: cover;
    margin-bottom: -10px;
}

.main-heading{
    /* height: 100vh; */
    height: 500px;
    width: 100vw;
    padding: 2rem;
    /* background-image: url(/banner-2.jpg); */
    background-color: rgb(59, 59, 59);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}
.main-heading h1{
    font-size: 2.5rem;
    margin-bottom: 1rem ;
    color: white;

}

.main-heading p{
    font-size: 1,1rem;
    margin-bottom: 2rem ;
    color: #ccc;
    
}
.main-heading button{
    padding: .5rem;
    border-radius:0%;
    cursor: pointer;
    border: 2px solid black;
    background: linear-gradient(to right , rgb(255, 0, 0) , rgb(255, 96, 96));
}
.main-heading button:hover{
    transition: 1s;
    background: linear-gradient(to right , rgba(0, 0, 0, 0.308),  black);
    color: white;
}

.trending-page{
    height: 100vh;
    width: 100vw;
    
    background-color: rgb(165, 11, 37);

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-bottom: 5rem;
    padding-top: 6rem;
}

.trending-page h2{
    font-size: 2.5rem;
    padding: 1rem 2rem;
    color: white;
}
.trending-page .gallery {
    height: 100vh;
    max-width: 80vw;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 30px;
}

.trending-page .gallery img{
     border: 2px solid black;
    box-shadow: 10px 10px  5px  black ;
    cursor: pointer;

    height: 200px;
    width: 300px;
}


.games-page{
    background-color: rgb(165, 11, 37);
    color: white;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 5rem;
}

.games-page h2{
    /* background-color: grey; */
    font-size: 2.5rem;
    padding: 1rem 2rem;
    color: white;
    padding-bottom: 5rem;

}

.cards {
    display: flex;
    flex-wrap: wrap;
    justify-content:center;
    align-items: center;
    gap: 20px;    

    margin-bottom: 2rem;

}

.card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;

    max-width: 500px;
    background: linear-gradient(to right , rgba(0, 0, 0, 0.363) ,  rgba(59, 59, 59, 0.473));
    border: 2px solid black;
    box-shadow: 10px 10px  5px  black ;
    cursor: pointer;
    padding-left: .5rem;
    padding: 1rem;

}
.card img {
    height: 300px;
    width: 400px;
    box-sizing: border-box;
    object-fit: cover;

}

.about{
    padding: 2rem;
    padding-left: 3rem;
    color: black;
    background-color: rgba(59, 59, 59, 0.473);

}

.idcard-section{

    display: flex;
    height: 100vh;
    width: 100vw;
}

footer{
    background-color: black;
    color: white;
    text-align: center;
    padding: 0.5rem;
    font-size: 0.9rem;

}